.warzone_card {
    position: relative;
    top: 100px;
    left:100px;
    width: 390px;
    height: 210px;
    background-color: #f2f2f2;
    background-image: url(asset2.jpg);
    background-size:cover;
    filter: grayscale(100%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  #warzone_logo{
    position: relative;
    right: 40px;
    bottom: 20px;
    width: 190px;
    height: 100px;
    margin-bottom: 50px;

  }
  .warzone_card:hover {
    transform: scale(1.05);
    box-shadow: 0 16px 36px rgba(0, 0, 0, 0.748);
    filter: grayscale(0);
  }
  
  .warzone_card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    background-color: transparent;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .warzone_card:hover .warzone_card__content {
    transform: rotateX(0deg);
  }
  
  .warzone_card__title {
    margin: 0;
    font-size: 24px;
    color: #333;
    font-weight: 700;
  }
  
  
  .warzone_card__description {
    position: relative;
    bottom: 70px;
    height: 130px;
    width: 270px;
    text-align: center;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.558);
    font-family: Georgia, Helvetica, Arial, Geneva, sans-serif;
    margin: 10px 0 0;
    font-size: 14px;
    color: #e7e7e7;
    line-height: 1.4;
  }
  