


.deceit_card {
    position: relative;
    width: 390px;
    height: 220px;
    background-image: url(deceit_asset1.jpg);
    background-size: contain;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    filter: grayscale();
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  
  .deceit_card:hover {
    transform: scale(1.05);
    box-shadow: 6px 8px 26px rgb(0, 0, 0);
    filter: grayscale(0);
  }
  #deceit_card_logo{
    position: relative;
    right: 20px;
    bottom: 10px;
    height: 90px;
    width: 160px;
  }
  .deceit_card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color:transparent;
    transform: rotateX(100deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .deceit_card:hover .deceit_card__content {
    transform: rotateX(0deg);
  }

  .deceit_card__description {
    position: relative;
    top: 20px;
    height: 60px;
    margin: 10px 0 0;
    font-size: 14px;
    font-family:  "helvetica neue", Helvetica, Arial, sans-serif;
    color: #c9b0b0;
    line-height: 1.4;
  }
  