.tr3_card {
    position: relative;
    top: 100px;
    left: 100px;
    width: 390px;
    height: 220px;
    filter: grayscale();
    background-image: url(tr3_asset1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  #tr3_logo{
    position: relative;
    right: 50px;
    height: 80px;
    width: 300px;
  }

  .tr3_card svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .tr3_card:hover {
    transform: scale(1.05);
    box-shadow: 8px 8px 32px rgb(14, 4, 4);
    filter: none;
  }
  
  .tr3_card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction:column;
    justify-content: end;
    box-sizing: border-box;
    background-color:transparent;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .tr3_card:hover .tr3_card__content {
    transform: rotateX(0deg);
  }
  
  .tr3_card__description {
    height: 60px;
    width: 350px;
    margin: 10px 0 0;
    font-size: 15px;
    color: #ffffff;
    line-height: 1.4;
  }
  